@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Arial, Helvetica, "微軟正黑體", sans-serif }

.hearder{
    width: 100%;
    margin: auto;
}
.hearder .hearder-menubox{
    width: 100%;
    height: auto;
    margin: auto;
    position:sticky;
    top: 0;
    background-color: #fff;
    border-bottom:7px solid #000;
}
.hearder .hearder-menubox .logobox{
    width: 20%;
    float: left;
    padding: 5px 0;
    margin:10px 0 0 20px;
    position: absolute;
    top: 0;
}
.hearder .hearder-menubox .logobox img{
    width: 165px;
    height: auto;
}
.hearder .hearder-menubox .ulbox{
    width: 100%;
    margin: auto;
    text-align: center;
}
.hearder .hearder-menubox ul{
    display: inline-block;
    height: auto;
    margin: auto;
    padding: 20px 0;
    list-style: none;
}
.hearder .hearder-menubox ul li{
    padding: 0 15px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    border-left:1px solid rgb(184, 184, 184);
}
.hearder .hearder-menubox .ulbox li a{
    text-decoration: none;
    color: #000
}
.hearder .hearder-menubox ul li:nth-child(1){
    border:none;
}
.adv{
    width: 100%;
    font-size: 0;
    margin: auto;

}
.adv .advbox{
    width: 100%;
    margin: auto;

}
.adv .advbox img{
    width: 100%;
    height: auto;
}
.article{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.article .article-menubox{
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}
.article .article-menubox ul{
    width: 1000px;
    height: 50px;
    margin: auto;
    list-style: none;
}
.article .article-menubox ul li{
    width: 20%;
    line-height: 150%;
    float: left;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 400%;
    font-size: 90%;
    border-bottom: 3px solid #000;
}
.article .article-menubox ul li:hover{
    border-bottom: 3px solid red;
}
.article .article-menubox ul li a{
    text-decoration: none;
    color: #fff;
}
.content{
    width: 100%;
    margin: auto;
    padding: 100px 0;
}
.content .contentbox{
    width: 950px;
    padding: 20px 0;
    margin: auto;
    position: relative;
}
.content .contentbox .titlebox{
    width: 350px;
    height: auto;
    color: #fff;
    position: relative;
}
.content .contentbox .titlebox .title{
    width: 100%;
    line-height: 200%;
    font-size: 300%;
    background-color: rgb(191, 29, 29); 
    padding: 0 15px; 
    font-weight: normal;
}
.content .contentbox .titlebox .subtitle{
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    padding:20px;
    margin: auto;
    position: absolute;
}
.content .contentbox .imagesbox{
    width: 100%;
    height: auto;
    font-size: 0;
    margin-left: 180px;
}
.content .contentbox .imagesbox img{
    width: 100%;
}
.content .contentbox .imagesbox .mv{
    width: 700px;
    height: 450px;
    vertical-align: middle;
}
.content .contentbox .imagesbox .mvicon{
    width: 55px;
    height: 35px;
    vertical-align: middle;
    margin-left: -45px;
    
}
.content .contentbox .captionbox{
    width: 660px;
    height: auto;
    background-color: #F2F2F2;
    padding: 15px 20px;
    margin: -28px 0 0 40px;
    position: relative;
    z-index: 2px;
}
.content .contentbox .captionbox .caption-block{
    font-size: 110%;
    color: rgb(201, 0, 0);
    background-color: #F2F2F2;
    padding-right:5px;
}
.content .contentbox .captionbox .line{
    height: 1em;
    border-top: 1px solid red;
    margin-top:-.8em ;

}
.content .contentbox .captionbox ul{
    list-style: none;
}
.content .contentbox .captionbox .caption-title{
    line-height: 180%;
    display: inline-block;
    padding:0 8px;
    border-radius: 3px;
    background-color: #000000;
    color: #fff;
}
.content .contentbox .captionbox .caption-text{
    text-indent: -.5em;
    margin-left: 1em;
    padding: 5px 0;
    color: rgb(75, 75, 75);
}
.content .contentbox .captionbox .dot{
    width: 3px;
    height: 3px;
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    margin-top:-5px ;
}
.content .contentbox .bgbox{
    width: 400px;
    height: 300px;
    position: absolute;
    z-index:-1;
    top: 50px;
    right: 0;
    background-color: #f7f7f7;
}

.footer{
    width: 100%;
    background-color: #333333;
    margin: auto;
}
.footer .footerbox{
    width: 1000px;
    margin: auto;
    padding: 20px 0;
    font-size: 70%;
}
.footer .footerbox .footertext{
    color:#fff;
    vertical-align: middle;
}
.footer .footerbox .footertext span{
    vertical-align: middle;
}
.footer .footerbox .footertext img{
    width: 90px;
    height: auto;
}
.footer .footerbox .footermenu{
    display: inline-block;
    vertical-align: middle;
    
}
.footer .footerbox .footermenu ul{
    list-style: none;
}
.footer .footerbox .footermenu ul li{
    float: left;
    margin: 0 5px;
}
.footer .footerbox .footermenu ul li a{
    text-decoration: none;
    color:#fff;
}
.footer .footerbox .footerphone{
    color: #fff;

}